
# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=integrador_db
DB_USER=useryabuser
DB_PASSWORD=senha_spr_sekreta
DATABASE_URL=postgresql://useryabuser:senha_spr_sekreta@localhost:5432/integrador_db


# Client
CLIENT_PORT=5190
VITE_API_URL=http://localhost:3001

# Server
NODE_ENV=development
SERVER_PORT=3001
CORS_ORIGIN=http://localhost:5190
JWT_SECRET=your-super-secret-jwt-key-change-in-production
SESSION_SECRET=your-session-secret-key-change-in-production

# Docker
DOCKER_IMAGE_TAG=latest 
